<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="post">
            <h2><span jhiTranslate="coreApp.corePost.detail.title">Post</span> {{post.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="coreApp.corePost.title">Title</span></dt>
                <dd>
                    <span>{{post.title}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.corePost.clientId">Client Id</span></dt>
                <dd>
                    <span>{{post.clientId}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.corePost.content">Content</span></dt>
                <dd>
                    <span>{{post.content}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.corePost.excerpt">Excerpt</span></dt>
                <dd>
                    <span>{{post.excerpt}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.corePost.publishedDate">Published Date</span></dt>
                <dd>
                    <span>{{post.publishedDate}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.corePost.publishedDateGMT">Published Date GMT</span></dt>
                <dd>
                    <span>{{post.publishedDateGMT}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.corePost.lastUpdatedDate">Last Updated Date</span></dt>
                <dd>
                    <span>{{post.lastUpdatedDate}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.corePost.lastUpdatedDateGMT">Last Updated Date GMT</span></dt>
                <dd>
                    <span>{{post.lastUpdatedDateGMT}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.corePost.featured">Featured</span></dt>
                <dd>
                    <span>{{post.featured}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.corePost.sticky">Sticky</span></dt>
                <dd>
                    <span>{{post.sticky}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.corePost.updates">Updates</span></dt>
                <dd>
                    <span>{{post.updates}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.corePost.slug">Slug</span></dt>
                <dd>
                    <span>{{post.slug}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.corePost.password">Password</span></dt>
                <dd>
                    <span>{{post.password}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.corePost.featuredMedia">Featured Media</span></dt>
                <dd>
                    <span>{{post.featuredMedia}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.corePost.subTitle">Sub Title</span></dt>
                <dd>
                    <span>{{post.subTitle}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.corePost.tag">Tag</span></dt>
                <dd>
                    <span *ngFor="let tag of post.tags; let last = last">
                        <a [routerLink]="['/tag', tag?.id, 'view' ]">{{tag.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="coreApp.corePost.category">Category</span></dt>
                <dd>
                    <span *ngFor="let category of post.categories; let last = last">
                        <a [routerLink]="['/category', category?.id, 'view' ]">{{category.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="coreApp.corePost.status">Status</span></dt>
                <dd>
                    <div *ngIf="post.statusId">
                        <a [routerLink]="['/status', post.statusId, 'view']">{{post.statusName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="coreApp.corePost.format">Format</span></dt>
                <dd>
                    <div *ngIf="post.formatId">
                        <a [routerLink]="['/format', post.formatId, 'view']">{{post.formatName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="coreApp.corePost.degaUser">Dega User</span></dt>
                <dd>
                    <span *ngFor="let degaUser of post.degaUsers; let last = last">
                        <a [routerLink]="['/dega-user', degaUser?.id, 'view' ]">{{degaUser.displayName}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/post', post.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
