<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="organization">
            <h2><span jhiTranslate="coreApp.coreOrganization.detail.title">Organization</span> {{organization.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="coreApp.coreOrganization.name">Name</span></dt>
                <dd>
                    <span>{{organization.name}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.phone">Phone</span></dt>
                <dd>
                    <span>{{organization.phone}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.siteTitle">Site Title</span></dt>
                <dd>
                    <span>{{organization.siteTitle}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.tagLine">Tag Line</span></dt>
                <dd>
                    <span>{{organization.tagLine}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.description">Description</span></dt>
                <dd>
                    <span>{{organization.description}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.logoURL">Logo URL</span></dt>
                <dd>
                    <span>{{organization.logoURL}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.logoURLMobile">Logo URL Mobile</span></dt>
                <dd>
                    <span>{{organization.logoURLMobile}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.favIconURL">Fav Icon URL</span></dt>
                <dd>
                    <span>{{organization.favIconURL}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.mobileIconURL">Mobile Icon URL</span></dt>
                <dd>
                    <span>{{organization.mobileIconURL}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.baiduVerificationCode">Baidu Verification Code</span></dt>
                <dd>
                    <span>{{organization.baiduVerificationCode}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.bingVerificationCode">Bing Verification Code</span></dt>
                <dd>
                    <span>{{organization.bingVerificationCode}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.googleVerificationCode">Google Verification Code</span></dt>
                <dd>
                    <span>{{organization.googleVerificationCode}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.yandexVerificationCode">Yandex Verification Code</span></dt>
                <dd>
                    <span>{{organization.yandexVerificationCode}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.facebookURL">Facebook URL</span></dt>
                <dd>
                    <span>{{organization.facebookURL}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.twitterURL">Twitter URL</span></dt>
                <dd>
                    <span>{{organization.twitterURL}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.instagramURL">Instagram URL</span></dt>
                <dd>
                    <span>{{organization.instagramURL}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.linkedInURL">Linked In URL</span></dt>
                <dd>
                    <span>{{organization.linkedInURL}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.pinterestURL">Pinterest URL</span></dt>
                <dd>
                    <span>{{organization.pinterestURL}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.youTubeURL">You Tube URL</span></dt>
                <dd>
                    <span>{{organization.youTubeURL}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.googlePlusURL">Google Plus URL</span></dt>
                <dd>
                    <span>{{organization.googlePlusURL}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.githubURL">Github URL</span></dt>
                <dd>
                    <span>{{organization.githubURL}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.facebookPageAccessToken">Facebook Page Access Token</span></dt>
                <dd>
                    <span>{{organization.facebookPageAccessToken}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.gaTrackingCode">Ga Tracking Code</span></dt>
                <dd>
                    <span>{{organization.gaTrackingCode}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.githubClientId">Github Client Id</span></dt>
                <dd>
                    <span>{{organization.githubClientId}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.githubClientSecret">Github Client Secret</span></dt>
                <dd>
                    <span>{{organization.githubClientSecret}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.twitterClientId">Twitter Client Id</span></dt>
                <dd>
                    <span>{{organization.twitterClientId}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.twitterClientSecret">Twitter Client Secret</span></dt>
                <dd>
                    <span>{{organization.twitterClientSecret}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.facebookClientId">Facebook Client Id</span></dt>
                <dd>
                    <span>{{organization.facebookClientId}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.facebookClientSecret">Facebook Client Secret</span></dt>
                <dd>
                    <span>{{organization.facebookClientSecret}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.googleClientId">Google Client Id</span></dt>
                <dd>
                    <span>{{organization.googleClientId}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.googleClientSecret">Google Client Secret</span></dt>
                <dd>
                    <span>{{organization.googleClientSecret}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.linkedInClientId">Linked In Client Id</span></dt>
                <dd>
                    <span>{{organization.linkedInClientId}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.linkedInClientSecret">Linked In Client Secret</span></dt>
                <dd>
                    <span>{{organization.linkedInClientSecret}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.instagramClientId">Instagram Client Id</span></dt>
                <dd>
                    <span>{{organization.instagramClientId}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.instagramClientSecret">Instagram Client Secret</span></dt>
                <dd>
                    <span>{{organization.instagramClientSecret}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.mailchimpAPIKey">Mailchimp API Key</span></dt>
                <dd>
                    <span>{{organization.mailchimpAPIKey}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.siteLanguage">Site Language</span></dt>
                <dd>
                    <span>{{organization.siteLanguage}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.timeZone">Time Zone</span></dt>
                <dd>
                    <span>{{organization.timeZone}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.clientId">Client Id</span></dt>
                <dd>
                    <span>{{organization.clientId}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.slug">Slug</span></dt>
                <dd>
                    <span>{{organization.slug}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.email">Email</span></dt>
                <dd>
                    <span>{{organization.email}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.createdDate">Created Date</span></dt>
                <dd>
                    <span>{{organization.createdDate}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.lastUpdatedDate">Last Updated Date</span></dt>
                <dd>
                    <span>{{organization.lastUpdatedDate}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.siteAddress">Site Address</span></dt>
                <dd>
                    <span>{{organization.siteAddress}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreOrganization.enableFactchecking">Enable Factchecking</span></dt>
                <dd>
                    <span>{{organization.enableFactchecking}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/organization', organization.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
