<div>
    <h2 id="page-heading">
        <span jhiTranslate="coreApp.coreOrganization.home.title">Organizations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-organization" [routerLink]="['/organization/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="coreApp.coreOrganization.home.createLabel">
            Create new Organization
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'coreApp.coreOrganization.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="organizations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="coreApp.coreOrganization.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="phone"><span jhiTranslate="coreApp.coreOrganization.phone">Phone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="siteTitle"><span jhiTranslate="coreApp.coreOrganization.siteTitle">Site Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tagLine"><span jhiTranslate="coreApp.coreOrganization.tagLine">Tag Line</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="coreApp.coreOrganization.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="logoURL"><span jhiTranslate="coreApp.coreOrganization.logoURL">Logo URL</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="logoURLMobile"><span jhiTranslate="coreApp.coreOrganization.logoURLMobile">Logo URL Mobile</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="favIconURL"><span jhiTranslate="coreApp.coreOrganization.favIconURL">Fav Icon URL</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mobileIconURL"><span jhiTranslate="coreApp.coreOrganization.mobileIconURL">Mobile Icon URL</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="baiduVerificationCode"><span jhiTranslate="coreApp.coreOrganization.baiduVerificationCode">Baidu Verification Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bingVerificationCode"><span jhiTranslate="coreApp.coreOrganization.bingVerificationCode">Bing Verification Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="googleVerificationCode"><span jhiTranslate="coreApp.coreOrganization.googleVerificationCode">Google Verification Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="yandexVerificationCode"><span jhiTranslate="coreApp.coreOrganization.yandexVerificationCode">Yandex Verification Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="facebookURL"><span jhiTranslate="coreApp.coreOrganization.facebookURL">Facebook URL</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="twitterURL"><span jhiTranslate="coreApp.coreOrganization.twitterURL">Twitter URL</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="instagramURL"><span jhiTranslate="coreApp.coreOrganization.instagramURL">Instagram URL</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="linkedInURL"><span jhiTranslate="coreApp.coreOrganization.linkedInURL">Linked In URL</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pinterestURL"><span jhiTranslate="coreApp.coreOrganization.pinterestURL">Pinterest URL</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="youTubeURL"><span jhiTranslate="coreApp.coreOrganization.youTubeURL">You Tube URL</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="googlePlusURL"><span jhiTranslate="coreApp.coreOrganization.googlePlusURL">Google Plus URL</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="githubURL"><span jhiTranslate="coreApp.coreOrganization.githubURL">Github URL</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="facebookPageAccessToken"><span jhiTranslate="coreApp.coreOrganization.facebookPageAccessToken">Facebook Page Access Token</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="gaTrackingCode"><span jhiTranslate="coreApp.coreOrganization.gaTrackingCode">Ga Tracking Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="githubClientId"><span jhiTranslate="coreApp.coreOrganization.githubClientId">Github Client Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="githubClientSecret"><span jhiTranslate="coreApp.coreOrganization.githubClientSecret">Github Client Secret</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="twitterClientId"><span jhiTranslate="coreApp.coreOrganization.twitterClientId">Twitter Client Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="twitterClientSecret"><span jhiTranslate="coreApp.coreOrganization.twitterClientSecret">Twitter Client Secret</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="facebookClientId"><span jhiTranslate="coreApp.coreOrganization.facebookClientId">Facebook Client Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="facebookClientSecret"><span jhiTranslate="coreApp.coreOrganization.facebookClientSecret">Facebook Client Secret</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="googleClientId"><span jhiTranslate="coreApp.coreOrganization.googleClientId">Google Client Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="googleClientSecret"><span jhiTranslate="coreApp.coreOrganization.googleClientSecret">Google Client Secret</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="linkedInClientId"><span jhiTranslate="coreApp.coreOrganization.linkedInClientId">Linked In Client Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="linkedInClientSecret"><span jhiTranslate="coreApp.coreOrganization.linkedInClientSecret">Linked In Client Secret</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="instagramClientId"><span jhiTranslate="coreApp.coreOrganization.instagramClientId">Instagram Client Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="instagramClientSecret"><span jhiTranslate="coreApp.coreOrganization.instagramClientSecret">Instagram Client Secret</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mailchimpAPIKey"><span jhiTranslate="coreApp.coreOrganization.mailchimpAPIKey">Mailchimp API Key</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="siteLanguage"><span jhiTranslate="coreApp.coreOrganization.siteLanguage">Site Language</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="timeZone"><span jhiTranslate="coreApp.coreOrganization.timeZone">Time Zone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="clientId"><span jhiTranslate="coreApp.coreOrganization.clientId">Client Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="slug"><span jhiTranslate="coreApp.coreOrganization.slug">Slug</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="email"><span jhiTranslate="coreApp.coreOrganization.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="coreApp.coreOrganization.createdDate">Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastUpdatedDate"><span jhiTranslate="coreApp.coreOrganization.lastUpdatedDate">Last Updated Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let organization of organizations ;trackBy: trackId">
                <td><a [routerLink]="['/organization', organization.id, 'view' ]">{{organization.id}}</a></td>
                <td>{{organization.name}}</td>
                <td>{{organization.phone}}</td>
                <td>{{organization.siteTitle}}</td>
                <td>{{organization.tagLine}}</td>
                <td>{{organization.description}}</td>
                <td>{{organization.logoURL}}</td>
                <td>{{organization.logoURLMobile}}</td>
                <td>{{organization.favIconURL}}</td>
                <td>{{organization.mobileIconURL}}</td>
                <td>{{organization.baiduVerificationCode}}</td>
                <td>{{organization.bingVerificationCode}}</td>
                <td>{{organization.googleVerificationCode}}</td>
                <td>{{organization.yandexVerificationCode}}</td>
                <td>{{organization.facebookURL}}</td>
                <td>{{organization.twitterURL}}</td>
                <td>{{organization.instagramURL}}</td>
                <td>{{organization.linkedInURL}}</td>
                <td>{{organization.pinterestURL}}</td>
                <td>{{organization.youTubeURL}}</td>
                <td>{{organization.googlePlusURL}}</td>
                <td>{{organization.githubURL}}</td>
                <td>{{organization.facebookPageAccessToken}}</td>
                <td>{{organization.gaTrackingCode}}</td>
                <td>{{organization.githubClientId}}</td>
                <td>{{organization.githubClientSecret}}</td>
                <td>{{organization.twitterClientId}}</td>
                <td>{{organization.twitterClientSecret}}</td>
                <td>{{organization.facebookClientId}}</td>
                <td>{{organization.facebookClientSecret}}</td>
                <td>{{organization.googleClientId}}</td>
                <td>{{organization.googleClientSecret}}</td>
                <td>{{organization.linkedInClientId}}</td>
                <td>{{organization.linkedInClientSecret}}</td>
                <td>{{organization.instagramClientId}}</td>
                <td>{{organization.instagramClientSecret}}</td>
                <td>{{organization.mailchimpAPIKey}}</td>
                <td>{{organization.siteLanguage}}</td>
                <td>{{organization.timeZone}}</td>
                <td>{{organization.clientId}}</td>
                <td>{{organization.slug}}</td>
                <td>{{organization.email}}</td>
                <td>{{organization.createdDate | date:'medium'}}</td>
                <td>{{organization.lastUpdatedDate | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/organization', organization.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/organization', organization.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'organization/'+ organization.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="organizations && organizations.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
