<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="status">
            <h2><span jhiTranslate="coreApp.coreStatus.detail.title">Status</span> {{status.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="coreApp.coreStatus.name">Name</span></dt>
                <dd>
                    <span>{{status.name}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreStatus.clientId">Client Id</span></dt>
                <dd>
                    <span>{{status.clientId}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreStatus.isDefault">Is Default</span></dt>
                <dd>
                    <span>{{status.isDefault}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreStatus.slug">Slug</span></dt>
                <dd>
                    <span>{{status.slug}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreStatus.createdDate">Created Date</span></dt>
                <dd>
                    <span>{{status.createdDate}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreStatus.lastUpdatedDate">Last Updated Date</span></dt>
                <dd>
                    <span>{{status.lastUpdatedDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/status', status.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
