<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="format">
            <h2><span jhiTranslate="coreApp.coreFormat.detail.title">Format</span> {{format.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="coreApp.coreFormat.name">Name</span></dt>
                <dd>
                    <span>{{format.name}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreFormat.isDefault">Is Default</span></dt>
                <dd>
                    <span>{{format.isDefault}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreFormat.clientId">Client Id</span></dt>
                <dd>
                    <span>{{format.clientId}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreFormat.description">Description</span></dt>
                <dd>
                    <span>{{format.description}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreFormat.slug">Slug</span></dt>
                <dd>
                    <span>{{format.slug}}</span>
                </dd>
                <dt><span jhiTranslate="coreApp.coreFormat.createdDate">Created Date</span></dt>
                <dd>
                    <span>{{format.createdDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/format', format.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
