<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-media-heading" jhiTranslate="coreApp.coreMedia.home.createOrEditLabel">Create or edit a Media</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!media.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="media.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coreApp.coreMedia.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="media.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coreApp.coreMedia.type" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                        [(ngModel)]="media.type" required/>
                    <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.type?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coreApp.coreMedia.url" for="field_url">Url</label>
                    <input type="text" class="form-control" name="url" id="field_url"
                        [(ngModel)]="media.url" required/>
                    <div [hidden]="!(editForm.controls.url?.dirty && editForm.controls.url?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.url?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coreApp.coreMedia.fileSize" for="field_fileSize">File Size</label>
                    <input type="text" class="form-control" name="fileSize" id="field_fileSize"
                        [(ngModel)]="media.fileSize" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coreApp.coreMedia.dimensions" for="field_dimensions">Dimensions</label>
                    <input type="text" class="form-control" name="dimensions" id="field_dimensions"
                        [(ngModel)]="media.dimensions" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coreApp.coreMedia.title" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                        [(ngModel)]="media.title" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coreApp.coreMedia.caption" for="field_caption">Caption</label>
                    <input type="text" class="form-control" name="caption" id="field_caption"
                        [(ngModel)]="media.caption" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coreApp.coreMedia.altText" for="field_altText">Alt Text</label>
                    <input type="text" class="form-control" name="altText" id="field_altText"
                        [(ngModel)]="media.altText" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coreApp.coreMedia.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="media.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coreApp.coreMedia.uploadedBy" for="field_uploadedBy">Uploaded By</label>
                    <input type="text" class="form-control" name="uploadedBy" id="field_uploadedBy"
                        [(ngModel)]="media.uploadedBy" required/>
                    <div [hidden]="!(editForm.controls.uploadedBy?.dirty && editForm.controls.uploadedBy?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.uploadedBy?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coreApp.coreMedia.publishedDate" for="field_publishedDate">Published Date</label>
                    <div class="d-flex">
                        <input id="field_publishedDate" type="datetime-local" class="form-control" name="publishedDate" [(ngModel)]="publishedDate"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.publishedDate?.dirty && editForm.controls.publishedDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.publishedDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.publishedDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coreApp.coreMedia.publishedDateGMT" for="field_publishedDateGMT">Published Date GMT</label>
                    <div class="d-flex">
                        <input id="field_publishedDateGMT" type="datetime-local" class="form-control" name="publishedDateGMT" [(ngModel)]="publishedDateGMT"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.publishedDateGMT?.dirty && editForm.controls.publishedDateGMT?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.publishedDateGMT?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.publishedDateGMT?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coreApp.coreMedia.lastUpdatedDate" for="field_lastUpdatedDate">Last Updated Date</label>
                    <div class="d-flex">
                        <input id="field_lastUpdatedDate" type="datetime-local" class="form-control" name="lastUpdatedDate" [(ngModel)]="lastUpdatedDate"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.lastUpdatedDate?.dirty && editForm.controls.lastUpdatedDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.lastUpdatedDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.lastUpdatedDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coreApp.coreMedia.lastUpdatedDateGMT" for="field_lastUpdatedDateGMT">Last Updated Date GMT</label>
                    <div class="d-flex">
                        <input id="field_lastUpdatedDateGMT" type="datetime-local" class="form-control" name="lastUpdatedDateGMT" [(ngModel)]="lastUpdatedDateGMT"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.lastUpdatedDateGMT?.dirty && editForm.controls.lastUpdatedDateGMT?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.lastUpdatedDateGMT?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.lastUpdatedDateGMT?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coreApp.coreMedia.slug" for="field_slug">Slug</label>
                    <input type="text" class="form-control" name="slug" id="field_slug"
                        [(ngModel)]="media.slug" required/>
                    <div [hidden]="!(editForm.controls.slug?.dirty && editForm.controls.slug?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.slug?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
