<div>
    <h2 id="page-heading">
        <span jhiTranslate="coreApp.coreDegaUser.home.title">Dega Users</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-dega-user" [routerLink]="['/dega-user/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="coreApp.coreDegaUser.home.createLabel">
            Create new Dega User
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'coreApp.coreDegaUser.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="degaUsers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="firstName"><span jhiTranslate="coreApp.coreDegaUser.firstName">First Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastName"><span jhiTranslate="coreApp.coreDegaUser.lastName">Last Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="displayName"><span jhiTranslate="coreApp.coreDegaUser.displayName">Display Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="website"><span jhiTranslate="coreApp.coreDegaUser.website">Website</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="facebookURL"><span jhiTranslate="coreApp.coreDegaUser.facebookURL">Facebook URL</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="twitterURL"><span jhiTranslate="coreApp.coreDegaUser.twitterURL">Twitter URL</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="instagramURL"><span jhiTranslate="coreApp.coreDegaUser.instagramURL">Instagram URL</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="linkedinURL"><span jhiTranslate="coreApp.coreDegaUser.linkedinURL">Linkedin URL</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="githubURL"><span jhiTranslate="coreApp.coreDegaUser.githubURL">Github URL</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="profilePicture"><span jhiTranslate="coreApp.coreDegaUser.profilePicture">Profile Picture</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="coreApp.coreDegaUser.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="slug"><span jhiTranslate="coreApp.coreDegaUser.slug">Slug</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="enabled"><span jhiTranslate="coreApp.coreDegaUser.enabled">Enabled</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="emailVerified"><span jhiTranslate="coreApp.coreDegaUser.emailVerified">Email Verified</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="email"><span jhiTranslate="coreApp.coreDegaUser.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="coreApp.coreDegaUser.createdDate">Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="keycloakId"><span jhiTranslate="coreApp.coreDegaUser.keycloakId">Keycloak Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isSuperAdmin"><span jhiTranslate="coreApp.coreDegaUser.isSuperAdmin">Is Super Admin</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="organizationDefaultName"><span jhiTranslate="coreApp.coreDegaUser.organizationDefault">Organization Default</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="organizationCurrentName"><span jhiTranslate="coreApp.coreDegaUser.organizationCurrent">Organization Current</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mediaId"><span jhiTranslate="coreApp.coreDegaUser.media">Media</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let degaUser of degaUsers ;trackBy: trackId">
                <td><a [routerLink]="['/dega-user', degaUser.id, 'view' ]">{{degaUser.id}}</a></td>
                <td>{{degaUser.firstName}}</td>
                <td>{{degaUser.lastName}}</td>
                <td>{{degaUser.displayName}}</td>
                <td>{{degaUser.website}}</td>
                <td>{{degaUser.facebookURL}}</td>
                <td>{{degaUser.twitterURL}}</td>
                <td>{{degaUser.instagramURL}}</td>
                <td>{{degaUser.linkedinURL}}</td>
                <td>{{degaUser.githubURL}}</td>
                <td>{{degaUser.profilePicture}}</td>
                <td>{{degaUser.description}}</td>
                <td>{{degaUser.slug}}</td>
                <td>{{degaUser.enabled}}</td>
                <td>{{degaUser.emailVerified}}</td>
                <td>{{degaUser.email}}</td>
                <td>{{degaUser.createdDate | date:'medium'}}</td>
                <td>{{degaUser.keycloakId}}</td>
                <td>{{degaUser.isSuperAdmin}}</td>
                <td>
                    <div *ngIf="degaUser.organizationDefaultId">
                        <a [routerLink]="['../organization', degaUser.organizationDefaultId , 'view' ]" >{{degaUser.organizationDefaultName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="degaUser.organizationCurrentId">
                        <a [routerLink]="['../organization', degaUser.organizationCurrentId , 'view' ]" >{{degaUser.organizationCurrentName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="degaUser.mediaId">
                        <a [routerLink]="['../media', degaUser.mediaId , 'view' ]" >{{degaUser.mediaId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/dega-user', degaUser.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/dega-user', degaUser.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dega-user/'+ degaUser.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="degaUsers && degaUsers.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
