<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-role-mapping-heading" jhiTranslate="coreApp.coreRoleMapping.home.createOrEditLabel">Create or edit a Role Mapping</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!roleMapping.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="roleMapping.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coreApp.coreRoleMapping.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="roleMapping.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coreApp.coreRoleMapping.keycloakId" for="field_keycloakId">Keycloak Id</label>
                    <input type="text" class="form-control" name="keycloakId" id="field_keycloakId"
                        [(ngModel)]="roleMapping.keycloakId" required/>
                    <div [hidden]="!(editForm.controls.keycloakId?.dirty && editForm.controls.keycloakId?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.keycloakId?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coreApp.coreRoleMapping.keycloakName" for="field_keycloakName">Keycloak Name</label>
                    <input type="text" class="form-control" name="keycloakName" id="field_keycloakName"
                        [(ngModel)]="roleMapping.keycloakName" required/>
                    <div [hidden]="!(editForm.controls.keycloakName?.dirty && editForm.controls.keycloakName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.keycloakName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coreApp.coreRoleMapping.organization" for="field_organization">Organization</label>
                    <select class="form-control" id="field_organization" name="organization" [(ngModel)]="roleMapping.organizationId"  required>
                        <option *ngIf="!editForm.value.organization" [ngValue]="null" selected></option>
                        <option [ngValue]="organizationOption.id" *ngFor="let organizationOption of organizations; trackBy: trackOrganizationById">{{organizationOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.organization?.dirty && editForm.controls.organization?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.organization?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coreApp.coreRoleMapping.role" for="field_role">Role</label>
                    <select class="form-control" id="field_role" name="role" [(ngModel)]="roleMapping.roleId"  required>
                        <option *ngIf="!editForm.value.role" [ngValue]="null" selected></option>
                        <option [ngValue]="roleOption.id" *ngFor="let roleOption of roles; trackBy: trackRoleById">{{roleOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.role?.dirty && editForm.controls.role?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.role?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
